# Auto detect text files and normalize line endings to LF
* text=auto

# Explicitly declare text files
*.js text eol=lf linguist-detectable=true
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

# PowerShell scripts should use CRLF on Windows
*.ps1 text eol=crlf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
